<ion-header>
  <ion-toolbar>
    <ion-title>
      spesifikasi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/2.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Selamat Datang Di Info Wisata Dieng</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Paket Wisata Dieng<br><br>
          - Paket Wisata 1D <br>
          - Paket Wisata 2D1N <br>
          - Paket Wisata 3D2N  <br>
          - Paket Wisata Glamping <br>
          
      
    
    
    
              </ion-card-content>
          